<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.miniproject">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiniProject">
        <activity android:name=".Seventeen"></activity>
        <activity android:name=".Sixteen" />
        <activity android:name=".Fifteen" />
        <activity android:name=".Fourteen" />
        <activity android:name=".Thirteen" />
        <activity android:name=".Twelfth" />
        <activity
            android:name=".Ninth"
            android:label="@string/title_activity_ninth"
            android:theme="@style/Theme.MiniProject.NoActionBar" />
        <activity
            android:name=".Eleventh"
            android:label="@string/title_activity_eleventh"
            android:theme="@style/Theme.MiniProject.NoActionBar" />
        <activity
            android:name=".Tenth"
            android:label="@string/title_activity_tenth"
            android:theme="@style/Theme.MiniProject.NoActionBar" />
        <activity android:name=".Eighth" />
        <activity android:name=".Seventh" />
        <activity android:name=".Sixth" />
        <activity android:name=".Fifth" />
        <activity android:name=".Fourth" />
        <activity android:name=".Third" />
        <activity android:name=".Second" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>